.hero-card {
    display: flex;
    width: 70%;
    margin: 2rem auto;
    justify-content: space-between;
    align-items: center;
}

.hero-img {
    object-fit: cover;
    width: 20vw;
    height: 20vw;
    margin: 3rem 0;
    box-shadow: 1px 1px 15px 5px rgba(29, 29, 29, 0.479);
    padding: 0;
}

.summary {
    margin: 2rem;
    font-size: 1rem;
    width: 20rem;
}

@media (max-width: 900px) {
    .hero-card {
        flex-direction: column;
        width: 98vw;
        margin: 0;
    }
    
    .hero-img {
        width: 50vw;
        height: 50vw;
        margin: 1rem auto;
        padding: 0;
    }
    
    .summary {
        margin: 2rem 0rem;
        padding: 0 1rem;
        font-size: 1rem;
        width: 95%;
    }
    
}
